<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cssl.dao.Product_brandMapper">
       <!--<resultMap id="product_brand" type="Product_brand">-->
             <!--<id property="pb_id" column="pb_id"/>-->
             <!--<collection property="pdlist" ofTyProduct_detailsServiceails" />-->
       <!--</resultMap>-->


     
</mapper>